---
layout: page
name: about
title: About - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c12">
      <h1>About</h1>
    </div>
    <div class="col c6">
      <p><strong>StarCraft II Profile</strong> is a Twitch.tv extension which lets you showcase your seasonal statistics in a panel on your channel page. Your viewers can easily track your progress throughout current StarCraft II season (ladder placements, division ranks, MMR ratings) as well as see your numerical stats and match history.</p>
      <p>You can showcase up to 3 StarCraft II profiles from all available regions. Data within the extension are automatically updated on a regular basis.</p>
      <p>The extension can be easily accessed on desktop version of Twitch as well as within the Twitch app on Android devices.</p>
      <p>To install the extension on your Twitch channel page, <a href="https://dashboard.twitch.tv/extensions/wg56zk271bqja047pknv3pk65m0rbr">proceed to the installation page</a> and complete the configuration process according to the instructions in the configuration section.
    </div>
    <div class="col c6">
      <img class="pic" src="https://placekitten.com/g/320/600" alt="" />
    </div>
  </div>
</div>