---
layout: page
name: about
title: About - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c10 narrower">
      <h1>About</h1>
    </div>
    <div class="col c10 narrower">
      <p><strong>StarCraft II Profile</strong> was a Twitch.tv extension which let content creators showcase their seasonal statistics in a panel on their channel page. Viewers could easily track creator's progress throughout current StarCraft II season (ladder placements, division ranks, MMR ratings) as well as see creator's numerical stats and match history.</p>
      <p>Up to 3 StarCraft II profiles from all available regions could be showcased. Data within the extension were automatically updated on a regular basis.</p>
      <p>The extension could be accessed on desktop version of Twitch as well as in the Twitch app on Android devices.</p>
      <p>On August 26th the extension has been shut down.</p>
    </div>
  </div>
</div>
