---
layout: page
name: about
title: About - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c10 narrower">
      <h1>About</h1>
    </div>
    <div class="col c10 narrower">
      <p><strong>StarCraft II Profile</strong> is a Twitch.tv extension which lets you showcase your seasonal statistics in a panel on your channel page. Your viewers can easily track your progress throughout current StarCraft II season (ladder placements, division ranks, MMR ratings) as well as see your numerical stats and match history.</p>
      <p>You can showcase up to 3 StarCraft II profiles from all available regions. Data within the extension are automatically updated on a regular basis.</p>
      <p>The extension can be accessed on desktop version of Twitch as well as in the Twitch app on Android devices.</p>
      <p>To install the extension on your Twitch channel page, <a href="https://dashboard.twitch.tv/extensions/wg56zk271bqja047pknv3pk65m0rbr">proceed to the installation page</a> and complete the configuration process according to the instructions in the configuration section.</p>
      <p>In case of questions see <a href="/help/">help section</a> or <a href="/contact/">contact us</a>.</p>
    </div>
  </div>
</div>
