---
layout: page
name: help
title: Help - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c10 narrower">
      <h1>Help</h1>
      <p>This section contains answers to the most common questions about the project.</p>
      <p>If you have a question that was not covered here, <a href="#">contact us</a>.</p>
      <h2>How do I know my StarCraft II profile URL?</h2>
      <p>Log in to <a href="https://starcraft2.com/">your account on starcraft2.com</a> and select 'View profile' in top right corner of the page. Copy the URL of the page you just landed on.</p>
      <p>Sample profile URL should look like this: <strong>https://starcraft2.com/en-us/profile/1/2/242838</strong></p>
      <h2>The extension doesn't update immediately</h2>
      <p>Data displayed in the extension is taken from <a href="https://develop.battle.net/">Blizzard Battle.net API</a>. Due to API limits the extension cannot display data in real time. Instead, data for each broadcaster is cached on the extension backend and updated periodically every 10-30 minutes.</p>
      <p>In some cases the extension might take more time to load data and this is perfectly normal. It may happen more often if you stream infrequently.</p>
      <h2>My profile information is wrong / missing / outdated</h2>
      <p>In some cases player information served by Battle.net API may be outdated or missing. Known cases include wrong ranks, missing portraits, outdated ladder information and many more. Try comparing data provided by the extension with your profile page on StarCraft2.com. If you think your profile information is correct but the extension still fails to display it, <a href="/contact">contact us</a>.</p>
      <h2>My portrait frame is incorrect</h2>
      <p>The extension uses a portrait frame according to the highest rank in all completed ladder placements. That includes both 1v1 and team modes.</p>
      <p>In some cases highest rank doesn't correspond to most played game mode. <a href="https://starcraft2.com/en-us/profile/2/1/5593296">Yours truly</a> was once a silver in 1v1 and a platinum in team modes despite having played only a few team matches throughout whole career.</p>
      <h2>I just tied a game and I can't see it in the extension</h2>
      <p>Draws are not featured in ladder data served by Battle.net API any more. The extension cannot display them.</p>
      <h2>I have other problem / suggestion</h2>
      <p>Feel free to <a href="/contact">contact us</a>.</p>
    </div>
  </div>
</div>