---
layout: page
title: StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

    <div class="hero">
      <div class="container">
        <div class="row">
          <div class="col c6 textContainer">
            <h1>StarCraft II season statistics for your Twitch stream</h1>
            <a href="https://dashboard.twitch.tv/extensions/wg56zk271bqja047pknv3pk65m0rbr" class="btn btn-sm btn-a ctaBtn">
              Install &gt;
            </a>
          </div>
          <div class="col c6 presentation">
            <ul class="slideshow">
              <li class="slide slide-1 active">
                <img src="images/screenshots/1.png" alt="Profile selection" />
              </li>
              <li class="slide slide-2">
                <img src="images/screenshots/2.png" alt="Snapshot view" />
              </li>
              <li class="slide slide-3">
                <img src="images/screenshots/3.png" alt="Statistics view" />
              </li>
              <li class="slide slide-4">
                <img src="images/screenshots/4.png" alt="Match history view" />
              </li>
            </ul>

            <ul class="slide-titles">
              <li class="slide-1 slide-title active">Profile selection</li>
              <li class="slide-2 slide-title">Snapshot view</li>
              <li class="slide-3 slide-title">Statistics view</li>
              <li class="slide-4 slide-title">Match history view</li>
            </ul>

            <ul class="slide-dots hidden">
              <li tabindex="0" title="Profile selection" id="slide-1" class="slide-1 slide-dot slide-dot-1 active">1</li>
              <li tabindex="0" title="Snapshot view" id="slide-2" class="slide-2 slide-dot slide-dot-2">2</li>
              <li tabindex="0" title="Statistics view" id="slide-3" class="slide-3 slide-dot slide-dot-3">3</li>
              <li tabindex="0" title="Match history view" id="slide-4" class="slide-4 slide-dot slide-dot-4">4</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <script src="js/scripts.js"></script>