---
layout: page
title: StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

{% include "partials/hero.njk" %}
{% include "partials/scripts.njk" %}
