---
layout: page
name: privacy
title: Privacy policy - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c10 narrower">
      <h1>Privacy policy</h1>
      <p>Last update: 2020-09-13</p>
      <p>The following section aims at explaining what data is collected by the extension, for what purpose and what happens when you use it.</p>
      <h2>What information is collected?</h2>
      <p>To operate properly, the extension collects and processes the following data:</p>
      <ol>
        <li><strong>Your Twitch user ID</strong> (sometimes called channel ID) - necessary to correctly identify and store your configuration data,</li>
        <li><strong>Your Twitch channel role</strong>. As a streamer installing and configuring the extention on your channel page we identify you as a 'broadcaster'. Data on viewers displaying the extension are not collected.</li>
        <li><strong>Your StarCraft II profile credentials</strong> i.e. region identifier as a single digit number (1 for Americas, 2 for Europe, 3 for Korea, 5 for China), realm identifier and your profile ID.</li>
        <li>Data available on Blizzard Battle.net API for StarCraft II as explained in <a href="https://develop.battle.net/documentation/starcraft-2">API Reference</a></li>
      </ol>
      <h2>How do we use your information?</h2>
      <p>We use StarCraft II profile credentials you provide in the extension configuration form to:</p>
      <ol>
        <li>Confirm their validity against Blizzard Battle.net API,</li>
        <li>Obtain your profile information and statistics available on Blizzard Battle.net API,</li>
        <li>Display computed data in the extension view available for each viewer of your Twitch stream.</li>
      </ol>
      <p>We user your Twitch ID and a channel role to identify you as the owner of the configuration data you provided in the process of configuring the extension.</p>
      <h2>Do we disclose your information to outside parties?</h2>
      <p>Your information is stored and processed in a secure manner by our trusted third parties include our hosting and database provider as well as load balancing service provider.</p>
      <p>We may release your information when it's necessary to comply with the law.</p>
      <h2>Can I delete my information?</h2>
      <p>Your StarCraft II data is stored by extension backend server for no longer than 24 hours. After that time it is automatically deleted.</p>
      <p>When you disable or uninstall the extension, your configuration data is not deleted automatically. <a href="/contact">Contact us</a> to request deletion of your data.</p>
      <h2>Changes to this Privacy Policy</h2>
      <p>We may change this Privacy Policy from time to time. Please check this page periodically for updates. If you continue to use the extension after the changes, you indicate your agreement to those changes.</p>
    </div>
  </div>
</div>