---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
  <loc>https://www.sc2pte.eu/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/about/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/changelog/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/contact/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/help/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/tos/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/privacy/</loc>
</url>
<url>
  <loc>https://www.sc2pte.eu/legal/</loc>
</url>
</urlset>
