---
layout: page
name: privacy
title: Terms of service - StarCraft II Profile - Twitch Extension
description: Display your StarCraft II season stats on your Twitch channel page
locale: en
---

<div class="subpage">
  <div class="container">
    <div class="col c10 narrower">
      <h1>Terms of Service</h1>
      <p>Last update: 2020-09-13</p>
      <p>By using the Extension you agree to be bound by the latest version of these Terms and by our <a href="/privacy">Privacy Policy</a>.</p>
      <ol>
        <li>To install and use the Extension you need an active Twitch account.</li>
        <li>In order for the Extension to operate correctly, you have to complete the configuration process by providing valid StarCraft II profile credentials.</li>
        <li>You are solely responsible for the accuracy and validity of the configuration credentials you provide during the configuration process.</li>
        <li>The Extension and its components are offered for informational purpose only. We are not responsible or liable for the accuracy, usefulness or availability of any information available via the Extension.</li>
        <li>The Extension is provided as-is, without warranty of any kind, express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose and noninfringement. We are not liable for any claim, damages or other liability arising from, out of or in connection with the extension.</li>
        <li>Executable code and graphical assets of the Extension are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.</li>
        <li>We do not guarantee continuous, uninterrupted access to the extension due to numerous factors outside of our control.</li>
        <li>We reserve the right to refuse, suspend or terminate the access to the Extension to anyone, for any reason, at any time.</li>
        </ol>
      </li>
      </ol>
    </div>
  </div>
</div>