<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col c6 left">
        <ul class="inline-links">
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</li>
          <li><a href="#">API Status</li>
          <li><a href="#">Legal</li>
        </ul>
      </div>
      <div class="col c6 right">
        &copy; 2018-2020 <a href="https://www.lukem.net/">Lukem.net</a>
      </div>
    </div>
  </div>
</div>