<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col c6 left">
        <ul class="inline-links">
          <li><a href="/help/">Help</a></li>
          <li><a href="/tos/">Terms of service</a></li>
          <li><a href="/privacy/">Privacy policy</li>
          <li><a href="/legal/">Legal</li>
        </ul>
      </div>
      <div class="col c6 right">
        &copy;&nbsp;2018-{{ page.date.getFullYear() }} <a href="https://www.lukem.net/">Lukem.net</a>
      </div>
    </div>
  </div>
</div>
