<nav class="nav" tabindex="-1">
  <div class="container">
    <a class="logo pagename current" href="/">
      <img src="/images/logo.png" alt="" />
    </a>
    <a href="/about/">About</a>
    <a href="/changelog/">Changelog</a>
    <a href="/contact/">Contact</a>
    <a href="https://github.com/sc2pte">GitHub</a>
  </div>
</nav>
<button class="btn-close btn btn-sm">×</button>
