<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col c6">
        {% include "partials/textContainer.njk" %}
      </div>
      <div class="col c6">
        {% include "partials/presentation.njk" %}
      </div>
    </div>
  </div>
</div>