<div class="textContainer">
  <p>As of August 26th 2022 the Twitch Extension for StarCraft II is no longer available.</p>
  <p>All user data has been deleted.</p>
  <p>Source code of the project is <a href="https://github.com/sc2pte">still available publicly on GitHub</a> and some related open source components are still maintained.</p>
  <p>You can also read <a href="https://www.offbeatbits.com/how-to-change-your-life-with-twitch-and-starcraft-vol-1/">the full story of the extension on Offbeat Bits</a>.</p>
  <p>Thank you for using the project!</p>
</div>