<div class="textContainer">
  <h1>StarCraft II season statistics for your Twitch stream</h1>
  <a
    href="https://dashboard.twitch.tv/extensions/wg56zk271bqja047pknv3pk65m0rbr"
    class="btn btn-sm btn-a ctaBtn"
  >
    Install
  </a>
</div>