<div class="textContainer">
  <p>As of August 26th 2022 the Twitch Extension is no longer available.</p>
  <p>All user data has been deleted.</p>
  <p>Source code of the extension is <a href="https://github.com/sc2pte">still available publicly on GitHub</a> and some related projects are still maintained.</p>
  <p>Thank you for using the extension!</p>
</div>